@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-family: Pretendard-Medium;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Pretendard-Medium";
    src: url("./fonts/Pretendard-Medium.otf");
}
@font-face {
    font-family: "Pretendard-SemiBold";
    src: url("./fonts/Pretendard-SemiBold.otf");
}
@font-face {
    font-family: "Pretendard-Bold";
    src: url("./fonts/Pretendard-Bold.otf");
}
@font-face {
    font-family: "Pretendard-ExtraBold";
    src: url("./fonts/Pretendard-ExtraBold.otf");
}
